<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	<link rel="stylesheet" href="/assets/index.css">
</head>
<body>
	<h2>Add survey</h2>
	<form th:action="@{/addquestion}" method="post" action="#">
		<input type="submit" value="Add new question" />
	</form>
	
	<input type="button" value="Add new question" />
	<form th:object="${question}" th:action="@{/savesurvey}" method="post" action="#">
		<input id="ID_FIELD" type="hidden" th:field="*{id}" readonly="readonly" />
		<input type="hidden" th:field="*{survey.id}" readonly="readonly"/>
		<input 
			class="border-2 border-black rounded"
			type="text"
			placeholder="Question" 
			th:value="${question.name}"
			th:field="*{name}" 
		/>
		<table>
			<tr th:each="question : ${survey.questions}">
				<td th:text="${question.name}"/>
			</tr>
		</table>

		<input 
			type="submit"
			value="Create survey"
		/>
	</form>
	<script> 
		console.log(document.getElementById("ID_FIELD"))
	</script>
</body>

</html>