<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	<link rel="stylesheet" href="/assets/index.css">
</head>
<body class="bg-dk-byzantium text-lt-yellow">
	<div th:insert="fragments/header :: header"></div>
	<div class="flex flex-col items-center">		
		<h1 class="text-2xl my-2">Edit survey</h1>
		<h1 class="text-xl mb-3" th:text="${survey.surveyName}"></h1>
		<h2 class="text-lg mb-3" th:text="${survey.description}"></h2>
		<div th:if="${saved}" class="textbox-saved" id="saved" >
			<h1 class="text-xl mb-3">Questions saved!</h1>
		</div>
		
		<div class="textbox-error invisible" id="error" >
			<h1 class="text-xl mb-3">Go save!</h1>
		</div>
		
		<form
			th:object="${survey}" 
			th:action="@{/addquestion}"
			method="post"
			action="#"
		>
			<input type="hidden" th:field="*{id}" readonly="readonly" />
			<input type="hidden" th:field="*{surveyName}" readonly="readonly"/>
			<input class="btn-primary" type="submit" value="Add new question" id="addNewQuestionButton"/>

		</form>
		
		<form 
			th:object="${survey}" 
			th:action="@{/savesurvey}" 
			method="post" 
			action="#"
			class="flex flex-col items-center"
		>
			<input type="hidden" th:field="*{id}" readonly="readonly" />
			<input type="hidden" th:field="*{surveyName}" readonly="readonly"/>
			<div th:each="question, stat : *{questions}">
				<h2 th:text="${stat.index + 1}"></h2>
				<input type="hidden" th:field="*{questions[__${stat.index}__].id}" readonly="readonly" />
				<input type="hidden" th:field="*{questions[__${stat.index}__].survey.id}" readonly="readonly" />
				<input 
					class="bg-white text-black px-2 py-1 mx-5 rounded textbox-width"
					type="text"
					placeholder="Question" 
					th:field="*{questions[__${stat.index}__].name}" 
					id="question"
				/>
			</div>
	
			<input 
				class="btn-primary mt-2"
				type="submit"
				value="Save questions"
			/>
			
			<input
				class="btn-secondary mt-2"
				type="button"
				value="Go back"
				onclick="confirmBack()"
			/>
		</form>
	</div>
	<script>
		function confirmBack() {
			const result = confirm("Are you sure? Any unsaved changes will be discarded.");
			if(result)
				window.location.href = "/";
		}
		// close the div in 5 secs
		window.setTimeout("closeSavedDiv();", 5000);

		function closeSavedDiv(){
		document.getElementById("saved").style.display=" none";
		}
		
		const inputFields = document.querySelectorAll("#question");
		
		const addNewQuestionBtn = document.querySelector("#addNewQuestionButton");
		
		const goSave = document.createElement("input");
		
		goSave.type="button";
		goSave.value="Add new question";
		goSave.classList.add("btn-primary");
		
		goSave.addEventListener("click", e => {
			console.log("GO SAVE!!")
			const errorToast = document.querySelector("#error");
			errorToast.classList.remove('invisible');
		});
		
		for (const input of inputFields){
			input.addEventListener("change", e => {
				console.log(e);
				addNewQuestionBtn.replaceWith(goSave);
			});
			
			
		}
		
		
		
	</script>
</body>

</html>
