<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>REST Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	<link rel="stylesheet" href="/assets/index.css">
</head>
<body class="bg-dk-byzantium text-lt-yellow">
	<div class="flex flex-col items-center">
	<h1>REST Home Page</h1>
		<h2>All Surveys</h2>
		<p>Method: GET Endpoint: <a href="/api/v1/surveys">/surveys</a></p>
		<p>JSON Example: </p>
		<pre><code>[
  {
    "id": 1,
    "surveyName": "Survey 1",
    "description": "My first survey",
    "questions": 
    [{
    	"id:" 1,
    	"name": "How are you?"
    	"answers":
    	[{
    		"id": 1,
    		"answer": "Good",
    		"type": "Text"
    	},
    	{
    		"id": 2,
    		"answer": "Bad",
    		"type": "Text"
    	}]
    }]
  }
]
</code></pre>
		<h2>Survey by Id</h2>
		<p>GET <a href="/api/v1/surveys/{id}">/surveys/{id}</a></p>
		<p>JSON Example: </p>
		<pre><code>[
  {
    "id": 1,
    "surveyName": "Survey 1",
    "description": "My first survey",
    "questions": 
    [{
    	"id:" 1,
    	"name": "How are you?"
    	"answers":
    	[{
    		"id": 1,
    		"answer": "Good",
    		"type": "Text"
    	},
    	{
    		"id": 2,
    		"answer": "Bad",
    		"type": "Text"
    	}]
    }]
  }
]
</code></pre>
		<h2>New Answer</h2>
		<p>POST /answers (Test with PostMan/etc.)</p>
		<p>JSON Example</p>
		<pre><code>
		{
		"answer": "Yes",
		"type": "Text"
		}
</code></pre>
			
	</div>
</body>