<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="header" class="bg-teal-blue w-full text-center flex flex-row items-center justify-center">
        <span class="invisible ml-4 mr-auto w-28"></span>
        <span class="flex justify-center items-center gap-4">
          <img src="/assets/favicon.svg" alt="KyselyApp logo" class="h-8" />
          <a
            class="text-3xl mt-2 mb-2"
            href="/"
           >
            KyselyApp
          </a>
          <img src="/assets/favicon.svg" alt="KyselyApp logo" class="h-8" />
        </span>
        <a href="/addsurvey" class="btn-primary ml-auto mr-0 sm:mr-4">Create survey</a>
     </div>
</body>