@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn {
    @apply px-3 py-1 rounded 
    cursor-pointer
    shadow-sm
    hover:filter hover:brightness-75
    hover:shadow-md
    hover:scale-95
    active:filter active:brightness-200
    active:shadow-lg
    active:scale-90
    transition-all
  }

  .btn-primary {
    @apply btn bg-sweet-brown
  }

  .btn-secondary {
    @apply btn bg-teal-blue
  }

  .btn-tertiary {
    @apply btn bg-tea-green
  }

  .btn-icon-error {
    @apply bg-error p-2 rounded-full
    cursor-pointer
    shadow-sm
    hover:filter hover:brightness-75
    hover:shadow-md
    hover:scale-95
    active:filter active:brightness-200
    active:shadow-lg
    active:scale-90
    transition-all
  }

  .toast-base {
    @apply px-3 py-1 rounded
    w-[19rem]
    flex justify-center items-center text-center
  }

  .toast-saved{
    @apply toast-base bg-success
  }

  .toast-error{
    @apply toast-base bg-warn
  }

  .textbox-width {
    @apply w-[20rem] md:w-[38rem]
  }

  
  .textbox-width-sm {
    @apply w-[12rem] md:w-[19rem]
  }

  
}